html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #E2FDFD;
}

h1 {
  text-align: center;
  color: #118A65;
  font-family: 'Helvetica';
}

video {
  display: none;
}

#container {
  width: 500px;
  margin: 0 auto;
}

#puzzle-container {
  position: relative;
  width: 500px;
  height: 500px;
}

canvas, #ending-container {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

canvas {
  z-index: 1;
}

#ending-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 2;
}

#ending-container.visible {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  animation-name: fade;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

#ending {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 250px;
  height: 150px;
  border-radius: 2px;
}

#ending p {
  text-align: center;
  padding: 1em;
  font-family: 'Helvetica';
}

.buttons {
  margin-top: 2em;
}

.buttons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.buttons ul li {
  display: inline-block;
}

button {
  display: inline-block;
  border: none;
  background: #118A65;
  border-radius: 3px;
  padding: 1em;
  color: white;
  font-size: 1em;
  width: 8em;
  cursor: pointer;
  outline: none;
  transition-duration: 0.2s;
}

.buttons button:active {
  background: #0B503B;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 568px) {
  #container {
    width: 280px;
  }

  #puzzle-container {
    width: 280px;
    height: 280px;
  }
}
