h1 {
  text-align: center;
}

video {
  display: none;
}

#container {
  width: 500px;
  margin: 0 auto;
}

canvas {
  display: block;
  width: 500px;
  height: 500px;
  outline: 1px solid black;
}

.buttons {
  text-align: center;
  padding: 2em;
}


@media screen and (max-width: 568px) {
  #container {
    width: 280px;
  }

  canvas {
    width: 280px;
    height: 280px;
  }
}
